* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #14120b;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-top: 80px;
}

.header-section {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #14120b;
  padding: 12px 100px;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.logo img {
  width: 25px;
  border-radius: 50%;
}
.logo-text {
  font-weight: 500;
  font-size: 17px;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 1.7rem;
  padding-left: 60px;
}
.nav-links li {
  font-size: 14px;
  font-weight: 500;
}
.nav-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn {
  background: #14120b;
  color: #fff;

  border: 1px solid #313030;
  border-radius: 20px;
  padding: 4px 14px;
  font-size: 14px;
}
#download-btn {
  background-color: #fff;
  color: #14120b;
}

.top-title {
  width: 86%;
  margin: 90px auto;
}
.top-heading {
  font-size: 26px;
  font-weight: 400;
}
.download-windows {
  margin-top: 20px;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #fff;
  color: #14120b;
}
.hero-img {
  width: 86%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-img img {
  width: 100%;
}
.hero-img p {
  margin: 50px;
  text-align: center;
  font-size: 15px;
}
.comapany-logo ul {
  width: 86%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.comapany-logo ul li {
  list-style-type: none;
  background-color: #1b1913;
  padding: 25px;
  width: 150px; 
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.comapany-logo ul li img {
  max-height: 40px;  
  max-width: 80px;
  object-fit: cover;
  opacity: 1;
}
.terminal-screen{
    width: 86%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1913;
    padding: 25px 15px;
    gap: 40px;
    height: 670px;
    border-radius: 8px;
    
    
}
.sec1 p{
    font-size: 23px;
    font-weight: 400;
    color: #838181;
}
.sec1 p::first-line {
  color: #fff;
}
.sec1 button{
    background-color: #1b1913;
    border: none;
    font-size: 16px;
    color: red;
    margin-top: 16px;
}
.sec2{
    max-height: 640px;
    width: 800px;
    border-radius: 10px;
    /* margin: 20px 0px; */
}
.sec2 img{
    max-height: 655px;
    width: 800px;
    object-fit: cover;
    
}

.testimonials {
  width: 86%;
  margin: 120px auto;
  text-align: center;
  
}

.testimonials h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 60px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background: #1b1913;
  padding: 28px;
  border-radius: 16px;
  text-align: left;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #eaeaea;
  margin-bottom: 28px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.author strong {
  display: block;
  font-size: 14px;
}

.author span {
  font-size: 13px;
  color: #9c9c9c;
}

.frontier {
  width: 86%;
  margin: 140px auto;
}

.frontier h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* GRID */
.frontier-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}


.frontier-card {
  background-color: #1b1913;
  border-radius: 7px;
  padding: 28px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  min-height: 520px;

  transition: transform 0.25s ease, background-color 0.25s ease;
}

.frontier-card:hover {
  transform: translateY(-6px);
  background-color: #24221c;
}


.frontier-card h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.frontier-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #b8b8b8;
}

.frontier-card a {
  font-size: 14px;
  color: #ff6a00;
  text-decoration: none;
}

.frontier-card a:hover {
  text-decoration: underline;
}

.card-media {
  height: 362px;
  margin-top: auto;
  border-radius: 7px;
  background: #14120b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-media img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.card-media.placeholder {
  background-color: #2a2822;
}



/*footer*/

.site-footer {
  background: radial-gradient(
    ellipse at top,
    #1a1812 0%,
    #0f0e0a 70%
  );
  padding: 80px 0 40px;
  color: #eaeaea;
  
}

.footer-grid {
  width: 86%;
  margin: 0 auto 60px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

/* Columns */
.footer-col h4 {
  font-size: 14px;
  font-weight: 500;
  color: #9c9c9c;
  margin-bottom: 18px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}

.footer-col ul li:hover {
  opacity: 0.7;
}

/* Bottom row */
.footer-bottom {
  width: 86%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 13px;
  color: #9c9c9c;
}
.footer-controls {
  margin-left: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-btn {
  background: #1b1913;
  border: none;
  border-radius: 12px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.icon-btn:hover {
  background: #24221c;
}

.lang-btn {
  background: #1b1913;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 14px;
  cursor: pointer;
}
