* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #14120b;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-top: 80px;
}

.header-section {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #14120b;
  padding: 12px 100px;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.logo img {
  width: 25px;
  border-radius: 50%;
}
.logo-text {
  font-weight: 500;
  font-size: 17px;
}
.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 1.7rem;
  padding-left: 60px;
}
.nav-links li {
  font-size: 14px;
  font-weight: 500;
}
.nav-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn {
  background: #14120b;
  color: #fff;

  border: 1px solid #313030;
  border-radius: 20px;
  padding: 4px 14px;
  font-size: 14px;
}
#download-btn {
  background-color: #fff;
  color: #14120b;
}

.top-title {
  width: 86%;
  margin: 90px auto;
}
.top-heading {
  font-size: 26px;
  font-weight: 400;
}
.download-windows {
  margin-top: 20px;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #fff;
  color: #14120b;
}
.hero-img {
  width: 86%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-img img {
  width: 100%;
}
.hero-img p {
  margin: 50px;
  text-align: center;
  font-size: 15px;
}
.comapany-logo ul {
  width: 86%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.comapany-logo ul li {
  list-style-type: none;
  background-color: #1b1913;
  padding: 25px;
  width: 150px; 
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.comapany-logo ul li img {
  max-height: 40px;  
  max-width: 80px;
  object-fit: cover;
  opacity: 1;
}
.terminal-screen{
    width: 86%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1913;
    padding: 25px 15px;
    gap: 40px;
    height: 670px;
    border-radius: 8px;
    
    
}
.sec1 p{
    font-size: 23px;
    font-weight: 400;
    color: #838181;
}
.sec1 p::first-line {
  color: #fff;
}
.sec1 button{
    background-color: #1b1913;
    border: none;
    font-size: 16px;
    color: red;
    margin-top: 16px;
}
.sec2{
    max-height: 640px;
    width: 800px;
    border-radius: 10px;
    /* margin: 20px 0px; */
}
.sec2 img{
    max-height: 655px;
    width: 800px;
    object-fit: cover;
    
}
